body
{
	margin-left:40px;
	margin-right:40px;
}

.banniere 
{
	background: url('images/fourmis.jpg') no-repeat;
	background-position: center top;
	background-attachment: fixed;
	color:#E8F5FE;
}

.citation
{
	text-align: center;
	color: #999D9C;
	font-style:italic;
}

h2
{
	margin-right:50px;
	border-bottom:solid #999D9C;
}

h3
{
	font-style:italic;
}

h4
{
	font-style:italic;
	margin-right:50px;
	color:#C8CACA;
}
.formule
{
	text-align:center;
	background-position:center;
}

.dl
{
	margin-left:2%;
}

.autre
{
	margin-left:50px;
}

footer
{
	text-align:center;
	bottom: 0;
	left: 0;
	right: 0;
}

p.texte
{
	text-align:justify;
	margin-left:40px;
	width:90%;
	font-size:16px;
}

p.legende
{
	text-align:center justify;
	font-size:12px;
	font-style: italic;
}

p.legende#gauche
{
	text-align:center justify;
	font-size:12px;
	font-style: italic;
	margin-top:20px;
	margin-bottom:25px;
}

p.legende#gauche1
{
	text-align:center justify;
	font-size:12px;
	font-style: italic;
	margin-top:35px;
	margin-bottom:40px;
}

.image
{
	text-align:center;
}

.col-md-6#schemas_fourmis_gauche
{
	margin-left:150px;
	width:36%;
}

.col-md-6#schemas_fourmis_droite
{
	margin-left:50px;
	width:36%;
}

.ref
{
	text-decoration:none;
}

p.menu
{
    text-decoration: none;
	color:#999D9C;
	text-align:center;
}

#entete
{
	position:fixed;
	position:top;
}

#side_menu
{
	position:fixed;
}

#texte_droite
{
	margin-left:18%;
}

.interface
{
	color:grey;
}

p.merci
{
	text-align:center;
}

.contact
{
	margin-left:50px;
	font-style:bold;
	font-size:20px;
}

/* CSS MATLAB */

span.keyword { color:#0000FF }
span.comment { color:#228B22 }
span.string { color:#A020F0 }
span.untermstring { color:#B20000 }
span.syscmd { color:#B28C00 }

pre, code { font-size:12px; }
tt { font-size: 1.2em; }
pre { margin:0px 0px 20px; }
pre.codeinput { padding:10px; border:1px solid #d3d3d3; background:#f7f7f7; margin-right:30%; }
pre.codeoutput { padding:10px 11px; margin:0px 0px 20px; color:#4c4c4c; }
pre.error { color:red; }

.footer { width:auto; padding:10px 0px; margin:25px 0px 0px; border-top:1px dotted #878787; font-size:0.8em; line-height:140%; font-style:italic; color:#878787; text-align:left; float:none; }
.footer p { margin:0px; }
.footer a { color:#878787; }
.footer a:hover { color:#878787; text-decoration:underline; }
.footer a:visited { color:#878787; }